/* Contenedor principal del chat */
.chat-view-container { 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    background-color: #efeae2; 
    font-family: sans-serif;
    
    /* ✨ LA ANIMACIÓN: Dura 0.5s y tiene un frenado suave al final (cubic-bezier) */
    animation: deslizar-derecha 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* El motor de la animación */
@keyframes deslizar-derecha {
    0% {
        opacity: 0;
        transform: translateX(-40px); /* Empieza desplazado a la izquierda */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Termina en su posición normal */
    }
}

/* --- MODO OSCURO --- */
body.dark-mode .chat-view-container { 
    background-color: transparent; /* Recuerda que lo dejamos transparente para ver el ruido */
}

body.dark-mode .chat-header-placeholder { 
    background-color: #202c33; 
    border-color: #313d45; 
}

body.dark-mode .chat-header-placeholder h2 { 
    color: #e9edef; 
}

body.dark-mode .chat-input-area { 
    background-color: #202c33; 
}

body.dark-mode .chat-input-area input { 
    background-color: #2a3942; 
    color: #e9edef; 
}