.emoji-picker-wrapper {
    position: absolute;
    bottom: 70px;
    /* Altura suficiente para que no tape el input */
    left: 20px;
    /* Alineado a la izquierda */
    z-index: 100;
    animation: popIn 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.98);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}