.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f4f8;
  text-align: center;
}

.welcome-title {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.welcome-text {
  color: #666;
  font-size: 1.2rem;
}