.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.welcome-title {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.welcome-text {
    color: #666;
    font-size: 1.2rem;
    max-width: 400px;
    line-height: 1.5;
}

body.dark-mode .welcome-container {
    background-color: #222e35;
}

body.dark-mode .welcome-title {
    color: #e9edef;
}

body.dark-mode .welcome-text {
    color: #8696a0;
}