.intro-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efeae2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lottie-wrapper {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-family: sans-serif;
    color: #5f6368;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

body.dark-mode .intro-container {
    background-color: transparent;
}

body.dark-mode .intro-text {
    color: #8696a0;
}