.avatar-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #00a884;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-lottie {
    width: 160%; 
    height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.dark-mode .avatar-circle.ia-avatar {
    background-color: #05080a;
    border: 1px solid rgba(255, 255, 255, 0.05); 
}