.avatar-circle {
    width: 38px; /* ✨ 2px más chico (antes solía ser 40px) */
    height: 38px;
    border-radius: 50%;
    background-color: #00a884;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    flex-shrink: 0;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hacemos que el Lottie ocupe bien el espacio del círculo */
.avatar-lottie {
    width: 160%; 
    height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
}